* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.allTime {
  display: flex;
  flex-wrap: wrap;
}

.mainTime {
  padding: 30px;
  width: 100%;
  display: block;
}

.otherTime {
  padding: 20px 10%;
}
